sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: WQo93/KEj1KVwoVm+2LhNRvHDDMz4y1WpAqxcXw3HLTQTnzzfTJK1DBpb5bQEcAtHQQEmT7gjbxvxHxRLK7rHesccnkDBTrMks7l1nJCKNoZlqaMDKcRHA0DwisIECJVRQWjkIx6v7Fm9Cfw/7IcShBsiha/HOXwrYv+WheM+3Tx8N7TJmiUsKZVd2SSUuMOnjX8Sxy7a5W71kSqDcsjAP+8qvsLfuVWYBadhETaFxW357XOecxwt0u9DkSrs3EGFLS5Am0gO1sAAvYFxqJIAsbca1TqY1OWKqe4Izo7cNUj4WyRvLNLJDS/MZmiEqq8Z4dJBe9YjGvSmm8G7R7fnLBK5Miu9ZJE/9xG4v4Jy/S/rm4L7R3g4owRmD22SCqnZhJ64L4JMIb63wUqGT0YNSD+DDZf98fsM5UhYW+g20iKLKIKKwPLKDwmhW9we1E+5wGMRyM5Hb99/OhZUL8uT29vXFQ091O7R9obKTC/hoOUILoLzffIcHUJ1nxl84YP/GGed6HXET7z458uRzVffSrq1iYFni/LzgZbamXpEUni0gmBv7lMqv16cx6tWcMxeupq77gXdo0/fuWsofjSGjnd8mixRhDLSu3h5bcmqzR9Pxu1kHMNg1cRhfDluoZSWagVE/TT0wJNkXJ2AASbX7mK3BeYJdyg9k/bCJgDxxk=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/The-Brotherhood-of-Consolation_1967
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy